<section class="home py-5 bg-sec">
    <div class="container text-center py-5 text-white">
        <div class="py-4">
            <img width="250px" class=" d-block m-auto" src="assets/imag/avataaars.svg">
        </div>
        <div class=" py-2 m-auto">
            <h1 class="h1">START FRAMEWORK</h1>
            <div class="star py-2 text-white d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-star"></i>
            </div>
            <p>Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</section>

