<nav class="navbar navbar-expand-lg ">
    <div class="container p-0 d-flex justify-content-between">
      <a class="navbar-brand text-white fs-1 fw-bold p-1" routerLink="header">Start Framework</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse container-fluid" id="navbarNavAltMarkup">

        <div class="navbar-nav ms-auto">
          <a class="nav-link text-white fw-bolder" aria-current="page" routerLink="about"routerLinkActive="active">ABOUT</a>
          <a class="nav-link text-white fw-bolder"routerLink="portofolio"routerLinkActive="active">PORTOFOLIO</a>
          <a class="nav-link text-white fw-bolder"routerLink="contact"routerLinkActive="active">CONTACT</a>
          <a class="nav-link text-white fw-bolder"routerLink="gallery"routerLinkActive="active">Gallery</a>
        </div>
      </div>
    </div>
  </nav>

   