<section id="portfolio">
    <div class="container text-center py-5">
        <h2 class="h1">portfolio component</h2>
        <div class="container text-center py-5">
            <div class="holder">
                <div class="before"></div>
                <i class="fa-solid fa-star fa-2xl mx-2"></i>
                <div class="after"></div>
            </div>
        </div>
      <div class="row p-4 g-4">
        <div class="col-md-4">
            <div class="card">
                <div class="space position-relative"><div class="card-img overflow-hidden"><img class="w-100 d-block" src="assets\imag\poert1.png" alt=""></div>
                <div class="layer position-absolute d-flex justify-content-center align-items-center"><i class="fa-solid fa-plus fa-3x border-5 text-white"></i></div>
            </div>
            </div>
  </div>
        <div class="col-md-4">
            <div class="card">
                <div class="space position-relative"><div class="card-img overflow-hidden"><img class="w-100 d-block" src="assets\imag\port2.png" alt=""></div>
                <div class="layer position-absolute d-flex justify-content-center align-items-center"><i class="fa-solid fa-plus fa-3x border-5 text-white"></i></div>
            </div>
            </div>
  </div>
        <div class="col-md-4">
            <div class="card">
                <div class="space position-relative"><div class="card-img overflow-hidden"><img class="w-100 d-block" src="assets\imag\port3.png" alt=""></div>
                <div class="layer position-absolute d-flex justify-content-center align-items-center"><i class="fa-solid fa-plus fa-3x border-5 text-white"></i></div>
            </div>
            </div>
  </div>
        <div class="col-md-4">
            <div class="card">
                <div class="space position-relative"><div class="card-img overflow-hidden"><img class="w-100 d-block" src="assets\imag\poert1.png" alt=""></div>
                <div class="layer position-absolute d-flex justify-content-center align-items-center"><i class="fa-solid fa-plus fa-3x border-5 text-white"></i></div>
            </div>
            </div>
  </div>
        <div class="col-md-4">
            <div class="card">
                <div class="space position-relative"><div class="card-img overflow-hidden"><img class="w-100 d-block" src="assets\imag\port2.png" alt=""></div>
                <div class="layer position-absolute d-flex justify-content-center align-items-center"><i class="fa-solid fa-plus fa-3x border-5 text-white"></i></div>
            </div>
            </div>
  </div>
        <div class="col-md-4">
            <div class="card">
                <div class="space position-relative"><div class="card-img overflow-hidden"><img class="w-100 d-block" src="assets\imag\poert1.png" alt=""></div>
                <div class="layer position-absolute d-flex justify-content-center align-items-center"><i class="fa-solid fa-plus fa-3x border-5 text-white"></i></div>
            </div>
            </div>
  </div>
  </div>
</div>
</section>
