<section class="contact-us mt">

    <div class="p-3 d-flex justify-content-center align-items-center flex-column mb-2">
        <input class="form-control max-width p-4" type="text" placeholder="User Name" aria-label="default input example">
        <input class="form-control max-width p-4" type="number" placeholder="User Age" aria-label="default input example">
        <input class="form-control max-width p-4" type="email" placeholder="User Email" aria-label="default input example">
        <input class="form-control max-width p-4 mb-5" type="password" placeholder="User password" aria-label="default input example">
        <button type="button" class="btn btn-success">Send Message</button>
        
    </div>
</section>
<app-footer></app-footer>

