
<section class="gallery py-5">
    <div class="container">
        <div class="row p-4 g-4">
            <div class="title py-4"><h2>Our products</h2></div>
        @for (p of Proudcts; track $index) {
        <div class="col-md-4">
         <app-card [p]="p"></app-card>
        </div>
        }
</div>
</div>
@defer ( on timer (7s)) {<app-recomnded-proudect></app-recomnded-proudect>}
@placeholder(minimum 3s) {<app-placeholder></app-placeholder>}
@error {<app-notfound></app-notfound>}
</section>
