<main class="page">
    
    <!-- Title -->
    <h1 class="page-title">Please wait for our picks</h1>
    
    <!-- Content -->
    <div class="page-content">
        
        <!-- Placeholder Content -->
        <div class="placeholder-content">
            <div class="placeholder-content_item"></div>
            <div class="placeholder-content_item"></div>
            <div class="placeholder-content_item"></div>
            <div class="placeholder-content_item"></div>
            <div class="placeholder-content_item"></div>
            <div class="placeholder-content_item"></div>
            <div class="placeholder-content_item"></div>
            <div class="placeholder-content_item"></div>
            <div class="placeholder-content_item"></div>
            <div class="placeholder-content_item"></div>
            <div class="placeholder-content_item"></div>
        </div>
        
    </div>
    
</main>
