/* You can add global styles to this file, and also import other style files */
.bg-sec{background-color: #1ABC9C;}
.max-width{width: 600px;}
.star{font-size: 50px;
align-content: center;}
.star::after ,.star::before{
content:"";
width: 90px;
height: 3px;
border-radius: 2px;
background-color:white;
}
.star{margin-inline:5px;}
